div.main-left {
  
  float: left;
  width: 70%;
  
  
}



.sidebar-right {
  
  /*clear: both;
  max-width: 500px;
	position: relative;
	*/
	clear: none;
	float: right;

	width: 28%;
	

}


#services ul {

	height: 34.7em;
	height: 640px;

}

.hidden-multi-column {
	text-indent: -9999px;
	position: absolute;
	z-index: -10;
	border: none;
}

.service-details tr > *:first-child {
	width: 10em;
}
