body {
	font-family: sans-serif;
}

.hidden {
	text-indent: -9999px;
	position: absolute;;
}


aside#service-categories .active a, aside#service-categories a:hover {
	background-color: #aaa;
	color: #fff;
}

aside#service-categories {
	float: right;
	max-width: 500px;
}

aside#service-categories ul {
	list-style: none;
	padding-left: 0;
}

aside#service-categories a {
	text-decoration: none;
	display: block;
	padding: 0.5em;
	color: #848;
}

section#service-categories ul {
	list-style: none;
	padding-left: 0;
}

section#service-categories li {
	display: inline-block;
	width: 33.33%;
}

section#service-categories a {
	margin: 0.5em;
	background-color: #88a;
	padding-left: 5em;
	position: relative;
	height: 6em;
	display: block;
	vertical-align: middle;
	color: #fff;
	text-decoration: none;
	border-radius: 1em;
}

section#service-categories a:hover {
	background-color: #448;
	color: #ccc;
}

section#service-categories i.fa {
	position: absolute;
	left: 0.2em;
	text-align: center;
	top: 50%;
	line-height: 0;
	font-size: 3em;
}

#homepage-container {
	padding-right: 400px;
	position: relative;
}

#homepage-container #services {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
}

#services ul {
	list-style: none;
	padding-left: 0;
	height: 600px;
	overflow-y: scroll;
}
