body {
	font-family: sans-serif;
}

h1, h2, h3, h4, h4, h6 {
  color: #4D87C7;
	
	
}

h1 {
  
    font-size: 2em;
  
}

h2 {
  
    font-size: 1.7em;
  
}

h3 {
  
    font-size: 1.4em;
  
}

h4{
  
    font-size: 1.1em;
  
}

.hidden {
	text-indent: -9999px;
	position: absolute;
}

a, a:link, a:visited {
	
	color: #999;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	
	color: #002147;

}


section#service-groups {

	position: relative;	
}

aside#service-groups .active a, aside#service-groups a:hover {
	background-color: #4D87C7;
	color: #fff;
}

aside#service-groups {
	float: right;
	max-width: 500px;
	position: relative;
}


aside#service-groups h2{
	top: -9000000px;
	position: absolute;
}

aside#service-groups ul {
	list-style: none;
	padding-left: 0;
}

section.groups a {
	text-decoration: none;
	display: block;
	padding: 0.5em;
	color: #4D87C7;}

section.groups ul {
	list-style: none;
	padding-left: 0;
}

section.groups li {
	
	
}

section.groups a {
	
	
	margin: 1%;
	background-color: #435870;
	display: inline-block;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 3px;
	width: 90%;
float: left;
	color: #fff;
	padding: 1%;
	height: 8em;
}

section#service-groups a {
	
	
	background-color: #435870;

}


section#service-groups a:hover,
section#service-groups a:focus {
	
	
	background-color: #002147;

}




section#user-groups a {

	
		background-color: #002147;

}




section#user-groups a:hover,
section#user-groups a:focus {
	
	
	background-color: #435870;

}





section#service-groups i.fa {
	position: absolute;
	left: 0.2em;
	text-align: center;
	top: 50%;
	line-height: 0;
	font-size: 3em;
}

#container {
	padding-right: 400px;
	position: relative;
}

#container .sidebar-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
}

#services ul {
	list-style: none;
	padding-left: 0;
	height: 40em;
	overflow-y: scroll;
}

#services ul li {

	line-height: 1em;
	margin: 0px 0px 1em 0px;
}

.services {
	list-style: none;
	padding: 0.1em;
}

.service {
border-radius: 3px;
background-color: #ebeff3;
margin: 0.7em 0px 0px 0px;
padding: 0.5em 1em;
color: #444;

}

.service a {

color: #4D87C7;
}


.service a:hover,
.service a:focus {

color: #001247;  
}

.service h2 {
	margin: 0.3em 0px 0.7em 0px;
}

.service-links {
	position: absolute;
	top: 0;
	left: -3em;
	width: 1.5em;
	padding: 0.3em;
}

.service-details th {
	width: 200px;
	font-variant:small-caps;
	text-align: right;
}
