body {
	font-family: sans-serif;
}

.hidden {
	text-indent: -9999px;
	position: absolute;;
}

a, a:link, a:visited {
	
	color: #999;
	text-decoration: none;
}


aside#service-categories .active a, aside#service-categories a:hover {
	background-color: #848;
	color: #fff;
}

aside#service-categories {
	float: right;
	max-width: 500px;
	position: relative;
}

aside#service-categories ul {
	list-style: none;
	padding-left: 0;
}

aside#service-categories a {
	text-decoration: none;
	display: block;
	padding: 0.5em;
	color: #848;
}

section#service-categories ul {
	list-style: none;
	padding-left: 0;
}

section#service-categories li {
	border: 1px solid blue;
	display: inline;
	margin: 0px;
	padding: 0px;

	
}

section#service-categories a {
	
	
	border: 1px solid red;
	margin: 0.5em;
	background-color: #88a;
	background-color: #002147;
	display: inline-block;
	padding: 3px 3px 3px 5em;
	position: relative;
	height: 10em;
	display: block;
	vertical-align: middle;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	width: 32%;
}

section#service-categories a:hover {
	background-color: #448;
	color: #ccc;
}

section#service-categories i.fa {
	position: absolute;
	left: 0.2em;
	text-align: center;
	top: 50%;
	line-height: 0;
	font-size: 3em;
}

#container {
	padding-right: 400px;
	position: relative;
}

#container .sidebar-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
}

#services ul {
	list-style: none;
	padding-left: 0;
	height: 600px;
	overflow-y: scroll;
}

#services ul li {

	line-height: 1em;
	margin: 0px 0px 1em 0px;
}

.services {
	list-style: none;
	padding: 0.1em;
}

.service {
	position: relative;
	border-left: 2px solid #848;
	margin: 1em 1em 1em 2em;
	padding: 0 0.9em;
}

.service h2 {
	margin-bottom: 0.2em;
}

.service-links {
	position: absolute;
	top: 0;
	left: -2em;
	width: 1.5em;
	padding: 0.3em;
}

.service-details th {
	width: 200px;
	font-variant:small-caps;
	text-align: right;
}
