body {
	font-family: sans-serif;

}

h1, h2, h3, h4, h5, h6 {
  color: #4D87C7;
	

}

h1 {
  
    font-size: 2em;
  
}

.servCat h1 {
  
  margin-right: 4em;
  
}

.non-catalogue-ready-service h2 {
	font-size: 100%;
	margin: 0;
	font-weight: normal;
}

h2 {
  
    font-size: 1.7em;
  
}

h3 {
  
    font-size: 1.4em;
  
}

h4{
  
    font-size: 1.1em;
  
}

.hidden {
	text-indent: -9999px;
	position: absolute;
}

a, a:link, a:visited {
	
	color: #999;
	text-decoration: none;
}

a:hover, a:focus, a:active,
h1 a:hover, h1 a:focus, h1 a:active {
	
	color: #002147;

}



h1 a
h1 a:link,
h1 a:visited {
  
   color: #4D87C7;
}


h1 a:hover, h1 a:focus, h1 a:active {
	
	color: #002147;

}



section#service-groups {

	position: relative;	
}




aside.groups .active a,
aside.groups a:hover,
aside.groups a:focus {
	background-color: #4D87C7;
	color: #fff;
}

aside ul {
	list-style: none;
	padding-left: 0;
}

.groups > ul {
	padding-left: 0;
}

li.group {
	height: 150px;
	width: 33%;
	margin: 0 0 10px 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}

ul.featured-services {
	margin-top: 1em;
	margin-left: 5em;
	padding: 5px;
	background-color: #999;
	border-radius: 5px;
	cursor: default;
}

ul.featured-services a {
	font-size: 80%;
	color: #fff;
	text-decoration: underline;
}

div.group-inner {
	display: block;
	text-decoration: none;
	margin: 0 10px 0 0;
	padding: 10px;
	position: relative;
	border-radius: 3px;
	color: #fff;
	height: 130px;
	cursor: pointer;
}

li.service-group div.group-inner {
	background-color: #435870;
}
li.user-group div.group-inner {
	background-color: #002147;
}
li.service-group div.group-inner:hover,
li.service-group div.group-inner:focus {
	background-color: #002147;
}
li.user-group div.group-inner:hover,
li.user-group div.group-inner:focus {
	background-color: #435870;
}


div.group-inner > a {
	color: #fff;
}

/*
section.groups li.group {
	text-decoration: none;
	display: block;
	
	margin: 1%;
	background-color: #435870;
	display: inline-block;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 3px;
	width: 30%;
	float: left;
	color: #fff;
	padding: 1%;
	height: 150px;

	}
*/

li.user-group a {
	font-size: 1.5em;
}

section#service-groups i.fa {
	position: absolute;
	left: 0.2em;
	text-align: center;
	top: 50%;
	line-height: 0;
	font-size: 3em;
}

#container {
	padding-right: 360px;
	position: relative;
}

#container .sidebar-right {
	position: absolute;
	top: 0;
	right: 20px;
	width: 320px;
	
}

#services ul {
	list-style: none;
	padding: 10px;
	overflow-y: scroll;
	border: 1px solid #bfc9d2;
	border-radius: 3px;
	background-color: #edf1f4;
}

#services ul li {

	line-height: 1em;
	margin: 0px 0px 1em 0px;
}

#services ul li a{

color:#666;

}


#services ul li a:hover,
#services ul li a:focus{

text-decoration: underline;

}



.services {
	list-style: none;
	padding: 0.1em;
}




.service a:hover,
.service a:focus {

color: #001247;  
}

.catalogue-ready-service h2 {
	margin: 0.3em 0px 0.7em 0px;
}

/* service search form */



 
 .sidebar-right form input {
   
   	border: 1px solid #435870;
	border-radius: 3px;
		background-color: #4D87C7;
	color: #fff;
	display: inline;
	font-size: 1em;
	color: #fff;
  padding: 0px 5px;
	height: 2em;
   
 }
 
  .sidebar-right form input[type="submit"] {
    

  }
 

/* text input field */
.sidebar-right form input#service-search {
   border-color: #bfc9d2;
   width: 13em;
   	background-color: #e8ecef;
   	color: #333;
}
 
 
 /* clear button */
 #service-search-clear {
   
   padding: 3px 5px;
   margin-left: 0px;
   
 }
 

.service-links {
	position: absolute;
	top: 0;
	left: -3em;
	width: 1.5em;
	padding: 0.3em;
}





.sidebar-right li {
 
 margin-bottom: 0.7em; 
 line-height: 1.2em;
  
}


/* category page */

aside.groups a{

display: block;
border-radius: 2px;
padding: 3px;
	
}


.category-view .service a{
border-radius: 3px;
background-color: #ebeff3;
padding: 0.5em 1em;
  display: block;
color: #4D87C7;

border-left: 30px solid #4D87C7;
  margin: 0.7em 0px 0px 0px;

}



.category-view .service a:hover,
.category-view .service a:focus, 
.category-view .service a:hover h2,
.category-view .service a:focus h2{
	background-color: #4D87C7;
	color: #fff;
}

.category-view .catalogue-ready-service a{
  
  
  border-right: 30px solid #4D87C7;


}



#service-category-services .service a,
#service-category-services .service a h2 {
  
  	background-color: #4D87C7;
  	color: #fff;
  
}


#service-category-services .service a:hover,
#service-category-services .service a:focus,
#service-category-services .service a:hover h2,
#service-category-services .service a:focus h2 {
  
  	background-color: #ebeff3;
  	color: #4D87C7;
  
}
/*  individual service page */


 .service-description {
  
  
  border-radius: 3px;
  background-color: #ebeff3;
  margin: 2em 0px ;
  padding: 0.5em 1em;
}


.service-description p{
  
  
margin-top: 0px;

}

table.service-details  {
    
clear: both;
    font-size: 1.1em;

}

table.service-details th,
table.service-details td {
    
/*  float: left;

  */

}


table.service-details th {
    


  text-align: right;
    font-size: 1.5em;
  font-weight: normal;
  padding: 0.2em ; 
  color: #a0adb9;
  color: #4D87C7;
  line-height: 1em;
  

}




table.service-details tr.with-sub-details th,
table.service-details tr.with-sub-details td {

  padding-top: 0.5em;

}

table.service-details tr.with-sub-details th {
    
vertical-align: top;
  

}

table.service-details td {


padding-left: 2em;
color: #333;
}


table.service-details th {



}



table.service-sub-details {
  
  margin: 3px  0 0 0 ;
}

table.service-details table.service-sub-details th,
table.service-details table.service-sub-details td{



    padding: 0.3em;


}


table.service-details table.service-sub-details th{

font-size: 1em;
text-align: left;
padding-right: 1em;

}



table.service-details a{
  
  display: inline-block;
  /*padding: 0.6em ;*/ 
  margin: 0px 0px 0px -0.5em;
  color: #333;
}


table.service-details a:hover,
table.service-details a:focus{
  
background-color: transparent;
color: #002147;
text-decoration: underline;

}



/* status styling */


a.status {
  
  background-color: #999;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  float: right;
  margin-top: -4.5em;
  padding: 1em;
  border-radius: 3px;
  


}

a.status.statusUp {

background-color: #019208;

}

a.status.statusPartial {

background-color: #F89406;
}


a.status.statusDown {

background-color: #B94A48;

}

.featured-services {
	list-style: none;
}

.featured-services li {
	display: inline;
}

.featured-services li:before {
	content: ', ';
}

.featured-services li:first-child:before {
	content: '';
}