body {
	font-family: sans-serif;
}

h1, h2, h3, h4, h4, h6 {
  color: #4D87C7;
	
	
}

h1 {
  
    font-size: 2em;
  
}

h2 {
  
    font-size: 1.7em;
  
}

h3 {
  
    font-size: 1.4em;
  
}

h34{
  
    font-size: 1.1em;
  
}

.hidden {
	text-indent: -9999px;
	position: absolute;
}

a, a:link, a:visited {
	
	color: #999;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	
	color: #002147;

}


section#service-categories {

	position: relative;	
}

aside#service-categories .active a, aside#service-categories a:hover {
	background-color: #4D87C7;
	color: #fff;
}

aside#service-categories {
	float: right;
	max-width: 500px;
	position: relative;
}


aside#service-categories h2{
	top: -9000000px;
	position: absolute;
}

aside#service-categories ul {
	list-style: none;
	padding-left: 0;
}

aside#service-categories a {
	text-decoration: none;
	display: block;
	padding: 0.5em;
	color: #4D87C7;}

section#service-categories ul {
	list-style: none;
	padding-left: 0;
}

section#service-categories li {
	
	
}

section#service-categories a {
	
	
	margin: 1%;
	background-color: #435870;
	display: inline-block;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 3px;
	width: 90%;
float: left;
	color: #fff;
	padding: 1%;
	height: 8em;
}


section#user-categories a {
	

	background-color: #002147;

}





section#service-categories i.fa {
	position: absolute;
	left: 0.2em;
	text-align: center;
	top: 50%;
	line-height: 0;
	font-size: 3em;
}

#container {
	padding-right: 400px;
	position: relative;
}

#container .sidebar-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
}

#services ul {
	list-style: none;
	padding-left: 0;
	height: 40em;
	overflow-y: scroll;
}

#services ul li {

	line-height: 1em;
	margin: 0px 0px 1em 0px;
}

.services {
	list-style: none;
	padding: 0.1em;
}

.service {
	position: relative;
	border-left: 12px solid #4D87C7;
	margin: 1em 1em 1em 3em;
	padding: 0 0.9em;
}

.service h2 {
	margin-bottom: 0.2em;
}

.service-links {
	position: absolute;
	top: 0;
	left: -3em;
	width: 1.5em;
	padding: 0.3em;
}

.service-details th {
	width: 200px;
	font-variant:small-caps;
	text-align: right;
}
