section.groups a {

	
	width: 28%;


}



.sidebar-right aside{
  
  clear: both;
  max-width: 500px;
	position: relative;
	
	border-top: 20px solid #ebeff3;
  
}



#services ul {

	height: 34.7em;
	height: 640px;

}