<div id="container">
<div class="main-left category-view">
<h1><a href="<%- base %>" class="service-catalogue-home-link"><i class="fa fa-th" title="Service Catalogue home"> </i></a> <span>All services</span></h1>
<section>
  <form method="get" action="<%- base %>all" class="filter-services-form">
    <input type="text" id="service-search" name="q" placeholder="Search services" autocomplete="off">
    <input type="reset"id="service-search-clear" value="&times;">
    <input type="submit" value="Go!">
  </form>
  <ul class="services filterable-service-list"><% services.each(function(service) { %><%= templates.serviceInList({service: service, tag: 'h2'}) %><% }); %>
  </ul>
</section>
</div>
</div>