<div id="container">
<h1><a href="/"><i class="fa fa-home"> </i></a> <i class="fa fa-chevron-right"> </i> <%- category.get("label") %></h1>

<div class="main-left">
<section id="service-category-services">
  <h2>Services</h2>
  <ul class="services"><% category.getServices().forEach(function(service) { 
    if (service.get("catalogueReady")) { %><li class="service">
    <a href="/service/<%- service.get("slug") %>">
    
    <h2><%- service.get("label") %></h2>
    <div class="teaser-text">
      <p>the teaser text goes here...</p>
    </div>  
    </a>
  
  


    </li><% }}); %>
  </ul>
</section>
<section class="other">
  <h2>Other services</h2>
  <ul class="services"><% category.getServices().forEach(function(service) { 
    if (!service.get("catalogueReady")) { %><li class="service">
      <a href="<%- service.get("serviceInformation") || service.get("homepage") %>"><%- service.get("label") %></a>
    </li><% }}); %>
  </ul>
</section>
</div>
<div class="sidebar-right">
<aside id="service-groups" class="groups">
  <h2 class="hidden">Categories</h2>
  <ul><% categories.forEach(function(otherCategory) {
           if (otherCategory.get('broader') == 'https://id.it.ox.ac.uk/service-category/service-group') { %>
    <li<% if (otherCategory.get("slug") == category.get("slug")) { %> class="active"<% } %>>
      <a href="/category/<%- otherCategory.get("slug") %>">
        <i class="fa fa-fw fa-<%- otherCategory.get("fontAwesome") %>"> </i>
        <%- otherCategory.get("label") %>
      </a>
    </li><% }}); %>
  </ul>
</aside>
<aside id="user-groups" class="groups">
  <h2 class="hidden">User groups</h2>
  <ul><% categories.forEach(function(otherCategory) {
           if (otherCategory.get('broader') == 'https://id.it.ox.ac.uk/service-category/user-group') { %>
    <li<% if (otherCategory.get("slug") == category.get("slug")) { %> class="active"<% } %>>
      <a href="/category/<%- otherCategory.get("slug") %>">
        <i class="fa fa-fw fa-<%- otherCategory.get("fontAwesome") %>"> </i>
        <%- otherCategory.get("label") %>
      </a>
    </li><% }}); %>
  </ul>
</aside>
</div>
</div>