<div id="container">
<h1><a href="/"><i class="fa fa-home"> </i></a> <i class="fa fa-chevron-right"> </i> <%- category.get("label") %></h1>

<div class="main-left">
<section id="service-category-services">
  <h2>Services</h2>
  <ul class="services"><% category.getServices().forEach(function(service) { 
    if (service.get("catalogueReady")) { %><li class="service">
    <h3><a href="/service/<%- service.get("slug") %>"><%- service.get("label") %></a></h2>
    <div class="service-links">
      <% if (service.get("homepage")) { %>
        <a href="<%- service.get("homepage") %>" title="Homepage"><i class="fa fa-fw fa-globe"> </i></a>
      <% } %>
      <% if (service.get("twitter")) { %>
        <a href="https://twitter.com/<%- service.get("twitter") %>" title="@<%- service.get("twitter") %> on Twitter"><i class="fa fa-fw fa-twitter"> </i></a>
      <% } %>
      <%= statusTemplate({status: status, service: service}) %>
    </div>
    <% if (service.get("description_html")) { %>
      <%= service.get("description_html") %>
    <% } else { %>
      <p><%- service.get("description") %></p>
    <% } %>
    </li><% }}); %>
  </ul>
</section>
<section class="other">
  <h2>Other services</h2>
  <ul class="services"><% category.getServices().forEach(function(service) { 
    if (!service.get("catalogueReady")) { %><li class="service">
      <a href="<%- service.get("serviceInformation") || service.get("homepage") %>"><%- service.get("label") %></a>
    </li><% }}); %>
  </ul>
</section>
</div>
<div class="sidebar-right">
<aside id="service-groups" class="groups">
  <h2 class="hidden">Categories</h2>
  <ul><% categories.forEach(function(otherCategory) {
           if (otherCategory.get('broader') == 'https://id.it.ox.ac.uk/service-category/service-group') { %>
    <li<% if (otherCategory.get("slug") == category.get("slug")) { %> class="active"<% } %>>
      <a href="/category/<%- otherCategory.get("slug") %>">
        <i class="fa fa-fw fa-<%- otherCategory.get("fontAwesome") %>"> </i>
        <%- otherCategory.get("label") %>
      </a>
    </li><% }}); %>
  </ul>
</aside>
<aside id="user-groups" class="groups">
  <h2 class="hidden">User groups</h2>
  <ul><% categories.forEach(function(otherCategory) {
           if (otherCategory.get('broader') == 'https://id.it.ox.ac.uk/service-category/user-group') { %>
    <li<% if (otherCategory.get("slug") == category.get("slug")) { %> class="active"<% } %>>
      <a href="/category/<%- otherCategory.get("slug") %>">
        <i class="fa fa-fw fa-<%- otherCategory.get("fontAwesome") %>"> </i>
        <%- otherCategory.get("label") %>
      </a>
    </li><% }}); %>
  </ul>
</aside>
</div>
</div>