<div id="container">
<h1><a href="<%- base %>" class="service-catalogue-home-link"><i class="fa fa-bars" title="Service Catalogue home"> </i></a> <%- category.get("label") %></h1>

<div class="main-left category-view">
<div class="definition"><%- category.get("definition") %></div>
<section>
  <h2>Services</h2>
  <ul class="services"><% _.each(category.getServices(), function(service) {
    if (service.get("catalogueReady")) { %><%= templates.serviceInList({service: service, tag: 'h2'}) %><% }}); %>
  </ul>
</section>
<section>
  <h2>Additional services</h2>
  <ul class="services"><% _.each(category.getServices(), function(service) {
    if (!service.get("catalogueReady")) { %><%= templates.serviceInList({service: service, tag: 'h2'}) %><% }}); %>
  </ul>
</section>
</div>
<div class="sidebar-right">
<%= templates.categoryAside({
	templates: templates,
	categories: categories,
	activeCategories: [category]
	}) %>
</div>
</div>
