<h1>Service catalogue</h1>
<div id="container">
<div class="main-left index-view">
<section id="service-groups" class="groups">
  <h2 class="hidden">Categories</h2>
  <ul class="service-groups"><% categories.forEach(function(category) {
           if (category.get('broader') == 'https://id.it.ox.ac.uk/service-category/service-group') { %><li class="service-group group"><div class="group-inner">
      <a href="<%- category.get("url") %>">
        <i class="fa fa-fw fa-<%- category.get("fontAwesome") %>"> </i>
        <%- category.get("label") %>
      </a><% if (false && category.get('featured').length) { %>
        <ul class="featured-services"><% _.forEach(category.getFeaturedServices(), function(service) {
          %><li><a href="<%- service.get("url") %>"><%- service.get("shortLabel") || service.get("label") %></a></li><% }); %></ul>
    </div><% } %></li><% }}); %>
  </ul>
</section>
<section id="user-groups" class="groups">
  <h2 class="hidden">User groups</h2>
  <ul class="service-groups"><% categories.forEach(function(category) {
           if (category.get('broader') == 'https://id.it.ox.ac.uk/service-category/user-group') { %><li class="user-group group"><div class="group-inner">
      <a href="<%- category.get("url") %>">
        <i class="fa fa-fw fa-<%- category.get("fontAwesome") %>"> </i>
        <%- category.get("label") %>
      </a><!--
      <div class="teaser"><%- category.get('teaser') %></div> -->
    </div></li><% }}); %>
  </ul>
</section>
<section>
  <h2>About</h2>

  <p>Our service catalogue is a list of the customer-facing services provided
     by IT Services.  We have provided various ways to view the catalogue:</p>

  <ul>
    <li>by clusters of services around a particular theme, e.g. research support</li>
    <li>by role, e.g. student</li>
    <li>as an A to Z listing which is searchable by service name or keyword</li>
  </ul>

  <p>Most services have a summary page that lists information such as a link
     to the service itself, a link to further information on the service, its
     status, details of how to get support, details of who is responsible for
     the service, a link to the service level description and an indication of
     the size of the user population. Over the coming months we will be
     working to ensure that all services have such a summary page.</p>

  <p>Whilst each service entry does contain details of how to get support for
     that service it is not a resource that will answer your support queries.
     For specific support queries please see our online support resources,
     accessed through our website, or contact our help centre. In time we hope
     to link this catalogue to a service request catalogue, giving you a clear
     route to request the service.</p>
</section>
</div>
<section id="services" class="sidebar-right">
  <h2 class="hidden-multi-column">Services</h2>
  <form method="get" action="<%- base %>all" class="filter-services-form">
    <input type="text" id="service-search" name="q" placeholder="Search services" autocomplete="off">
    <input type="reset"id="service-search-clear" value="&times;">
    <input type="submit" value="Go!">
  </form>
  <ul class="filterable-service-list"><% services.forEach(function(service) { %><%= templates.serviceInList({service: service, includeTeaser: false, tag: 'span'}) %><% }); %>
  </ul>
</section>
</div>
