<h1>Service Catalogue</h1>
<div id="container">
<div class="main-left index-view">
<section id="service-groups" class="groups">
  <h2 class="hidden">Categories</h2>
  <ul><% categories.forEach(function(category) {
           if (category.get('broader') == 'https://id.it.ox.ac.uk/service-category/service-group') { %><li class="service-group group"><div class="group-inner">
      <a href="<%- category.get("url") %>">
        <i class="fa fa-fw fa-<%- category.get("fontAwesome") %>"> </i>
        <%- category.get("label") %>
      </a><% if (false && category.get('featured').length) { %>
        <ul class="featured-services"><% _.forEach(category.getFeaturedServices(), function(service) {
          %><li><a href="<%- service.get("url") %>"><%- service.get("shortLabel") || service.get("label") %></a></li><% }); %></ul>
    </div><% } %></li><% }}); %>
  </ul>
</section>
<section id="user-groups" class="groups">
  <h2 class="hidden">User groups</h2>
  <ul><% categories.forEach(function(category) {
           if (category.get('broader') == 'https://id.it.ox.ac.uk/service-category/user-group') { %><li class="user-group group"><div class="group-inner">
      <a href="<%- category.get("url") %>">
        <i class="fa fa-fw fa-<%- category.get("fontAwesome") %>"> </i>
        <%- category.get("label") %>
      </a><!--
      <div class="teaser"><%- category.get('teaser') %></div> -->
    </div></li><% }}); %>
  </ul>
</section>
</div>
<section id="services" class="sidebar-right">
  <h2 class="hidden">Services</h2>
  <form method="get" action="<%- base %>search">
    <input id="service-search" name="q" placeholder="Search services" autocomplete="off">
    <input id="service-search-clear" type="reset" value="&times;">
    <input type="submit" value="Go!">
  </form>
  <ul><% services.forEach(function(service) { %><%= templates.serviceInList({service: service, includeTeaser: false, tag: 'span'}) %><% }); %>
  </ul>
</section>
</div>
