<section>
  <h1><a href="/"><i class="fa fa-home"> </i></a> <i class="fa fa-chevron-right"> </i>
    <%- service.get("label") %></h1>
  <div class="service-description">
    <% if (service.get("description_html")) { %>
      <%= service.get("description_html") %>
    <% } else { %>
      <%- service.get("description") %>
    <% } %>
  </div>
  <table class="service-details">
    <tbody><% if (service.get("homepage")) { %>
      <tr>
        <th>GO</th>
        <td><a href="<%- service.get("homepage") %>"><%- service.get("homepage") %></a></td>
      </tr>
      
      <% } if (service.get("serviceInformation")) { %>
      <tr>
        <th>More info</th>
        <td><a href="<%- service.get("serviceInformation") %>"><%- service.get("serviceInformation") %></a></td>
      </tr><% } if (service.get("twitter")) { %>
    
      <tr>
        <th>Support</th>
        <td>Support info goes here....</td>
      </tr>
      
      
      
      
            <tr>
        <th>Who's responsible</th>
        <td>
          
            <table id="service-people">
            
              <tr><th>Service owner</th><td>name</td></tr>
             <tr> <th>Business owner</th><td>name</td></tr>
              <tr><th>Service delivery team </th><td>team</td></tr>

            </table>
          
          
        </td>
      </tr><% } %>
      
      
    </tbody>
  </table>
</section>