<div id="container">
<div class="main-left service-view">
  <h1><a href="<%- base %>" class="service-catalogue-home-link"><i class="fa fa-bars" title="Service Catalogue home"> </i></a>
    <%- service.get("label") %></h1>
    
    <%= templates.status({service: service, status: status, templates: templates}) %>

  <div class="service-description">
    <% if (service.get("description_html")) { %>
      <%= service.get("description_html") %>
    <% } else { %>
      <%- service.get("description") %>
    <% } %>
  </div>
  <table class="service-details">
    <tbody><% if (service.get("homepage")) { %>
      <tr>
        <th>Go</th>
        <td><a href="<%- service.get("homepage") %>"><%- service.get("homepage") %></a></td>
      </tr>
      
      <% } if (service.get("serviceInformation")) { %>
      <tr>
        <th>More info</th>
        <td><a href="<%- service.get("serviceInformation") %>"><%- service.get("serviceInformation") %></a></td>
      </tr><% } if (false && service.get("twitter")) { %>
      <tr class="twitter" >
        <th>Twitter</th>
        <td><a href="https://twitter.com/<%- service.get("twitter") %>"><i class="fa fa-twitter"> </i><%- service.get("twitter") %></td>
      </tr>

      <% } %>
      <tr class="service-details-group-header">
        <th>Support</th><td></td>
      </tr>
      <% if (service.get('contactForm')) { %>
        <tr class="service-details-group-item"><th>Contact form</th><td><a href="<%- service.get('contactForm') %>"><%- service.get('contactForm') %></a></td></tr>
      <% } if (service.get('contactEmail')) { %>
        <tr class="service-details-group-item"><th>Email</th><td><a href="<%- service.get('contactEmail') %>"><%- service.get('contactEmail').substr(7) %></a></td></tr>
      <% } if (service.get('contactVoice')) { %>
        <tr class="service-details-group-item"><th>Telephone</th><td><a href="<%- service.get('contactVoice') %>"><%- service.get('contactVoiceExtension') || service.get('contactVoice') %></a></td></tr>
      <% } if (service.get("userPopulation")) { %>
      <tr>
        <th>User population</th>
        <td><%- service.get("userPopulation") %></td>
      </tr>

      <% } %>

      <tr class="service-details-group-header">
        <th>Who's responsible</th><td></td>
      </tr>
      <% if (service.get('serviceOwner').label) { %>
        <tr class="service-details-group-item"><th>Service owner</th><td><%- service.get('serviceOwner').label %></td></tr>
      <% } if (service.get('serviceBusinessOwner').label) { %>
        <tr class="service-details-group-item"><th>Business owner</th><td><%- service.get('serviceBusinessOwner').label %></td></tr>
      <% } if (service.get('serviceTeam').label) { %>
        <tr class="service-details-group-item"><th>Service delivery team </th><td><%- service.get('serviceTeam').label %></td></tr>
      <% } %>
      
    </tbody>
  </table>
</div>
<div class="sidebar-right">
<%= templates.categoryAside({
	templates: templates,
	categories: categories,
	activeCategories: categories.filter(function(category) { return _.contains(category.getServices(), service); })
	}) %>
</div>
</div>
  
